body {
    margin: 0px;
    color: #232425;
    font-family: 'Kelly Slab', cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px #cfe7ffd6;
    color: #232425;
}

h3 {
    text-shadow: 2px 2px #cfe7ffd6;
}

header {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
    text-align: center;
}

main {
    text-align: center;
    padding-bottom: 20px;
}

button {
    background-color: #90d5ffd1;
    width: 90px;
    height: 70px;
    border: 1px solid #8cc4e8;
    border-radius: 5px;
    background-image:
url(coloring.png);
}

button:hover {
    transform: scale(1.02);
    border-color: #666;
}

button:active {
    transform: scale(1.06);
    border-color: #75b4db;
    box-shadow: 0 0 0.5rem #75b4db;
}

.container {
    background-image: url(paper_fibers.png);
    border: 2px dashed #666;
    border-radius: 10px;
    margin-top: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 135px;
    height: 135px;
}

.score {
    width: 100px;
    height: 120px;
    font-size: 3.1rem;
    text-decoration: underline;
}

.tablo {
    background-color: #90d5ffd1;
    width: 280px;
    height: 110px;
    border: 1px solid #8cc4e8;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.rock {
    background-size: 230px;
    background-position: -142px 160px;
}

.scirios {
    background-size: 200px;
    background-position: -200px 326px;
}

.paper {
    background-size: 175px;
    background-position: 156px 68px;
}